<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List v1</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="app.js" defer></script>
  </head>

  <body>
    <%- include('header') %>

    <div class="box" id="heading">
      <h1>About</h1>
    </div>

    <div class="box">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non cum
        inventore repudiandae incidunt eaque quidem eveniet. Tenetur magni
        eveniet molestiae minus quos ab facilis error ipsum, assumenda at nemo
        eum.
      </p>
    </div>

    <%- include('footer') %>
  </body>
</html>
